@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-Regular.ttf);
  }

  @font-face {
    font-family: "LibreFranklin";
    src: url(./fonts/LibreFranklin-Regular.ttf);
  }
}

body {
  background-color: #f3f4f6;
}
