@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-Regular.ttf);
  }

  @font-face {
    font-family: "LibreFranklin";
    src: url(./fonts/LibreFranklin-Regular.ttf);
  }

  @font-face {
    font-family: "TTInterfaces-Regular";
    src: url(./fonts/TTInterfaces-Regular.ttf);
  }

  @font-face {
    font-family: "TTInterfaces-Demi";
    src: url(./fonts/TTInterfaces-DemiBold.ttf);
  }

  @font-face {
    font-family: "TTInterfaces-Bold";
    src: url(./fonts/TTInterfaces-Bold.ttf);
  }
}

body {
  /* background-color: #f3f4f6; */
}
